body {
    min-height: 100vh;
}

@media (max-width: 480px) {

    header {
        text-align: center;
        font-size: 2.8em;
        color: white;
        padding-top: 1.5em;
        padding-bottom: 3%;
        width: 100%;
        line-height: 1.2;
    }

    h2 {
        text-align: center;
        font-size: larger;
        font-weight: 700;
        color: #2D3091;
        padding-bottom: 7%;
        width: 100%;
        margin-right: 2%;
    }

    .top-half {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        font-family: 'IBM Plex Sans', sans-serif;
        color: white;
        background-image: linear-gradient(#4980dc, #623b9c);
        position: absolute;
    }

    .top-half-transform {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        font-family: 'IBM Plex Sans', sans-serif;
        color: white;
        background-image: linear-gradient(#4980dc, #623b9c);

        position: absolute;
        animation-name: swipe;
        animation-fill-mode: forwards;
        animation-duration: 1.2s;
    }

    .top-half-transform-reverse {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        font-family: 'IBM Plex Sans', sans-serif;
        color: white;
        background-image: linear-gradient(#4980dc, #623b9c);

        position: absolute;
        animation-name: swipe-reverse;
        animation-fill-mode: forwards;
        animation-duration: 1.2s;
    }

    /* gradient not used for mobile */
    /* on non-mobile views, use flex-direction: row */
    .bottom-half {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        bottom: 100%;
        font-family: 'Saira Extra Condensed', sans-serif;
        /* background-image: linear-gradient(lightgray, white); */
    }

    /*On non-mobile views, use flex-direction: column*/
    .bottom-item {
        display: flex;
        flex-direction: row;
        width: 100%;
        font-weight: 300;
        justify-content: space-around;
    }

    .bottom-item-time {
        font-size: 2em;
        margin-top: 10%;
    }

    .bottom-item-image {
        display: block;
        width: 20%;
    }

    .bottom-item-temperature {
        font-size: 6em;
        margin-top: 3%;
    }

    .bottom-half-transform {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        font-family: 'Saira Extra Condensed', sans-serif;
        /* background-image: linear-gradient(lightgray, white); */

        animation-name: move-up;
        animation-fill-mode: forwards;
        animation-duration: 1.2s;
    }

    .bottom-half-transform-reverse {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        font-family: 'Saira Extra Condensed', sans-serif;
        /* background-image: linear-gradient(lightgray, white); */

        animation-name: move-down;
        animation-fill-mode: forwards;
        animation-duration: 1.2s;
    }

    main {

    }

    /* For non-mobile views, set to be "display: none;" */
    .mobile-header-text {
        display: block;
    }

    .non-mobile-header-text {
        display: none;
    }

    /* For non-mobile views: change flex-direction to column, and use flex-wrap */
    .forecast {
        flex-direction: column;
        width: 100%;
    }

    .forecast-web {
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
    }
    
    div.forecast-input-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    p.forecast-text {
        font-size: 1.5em;
        text-align: left;
        margin-left: 13%;
        padding-bottom: 22px;
    }

    .input-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    /* Hide this on non-mobile views using display: none */
    .input-field {
        text-align: center;
        font-size: x-large;
        width: 54%;
        margin-left: 13%;
        height: 1.38em;
        border: none;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 300;
        color: white;
        background-color: #2E3192;
    }

    .button-style {
        width: 22%;
        height: 1.8em;
        text-align: center;
        font-size: larger;
        color: #E6E5E3;
        border: none;
        background-color: #7B92D5;
    }

    .weather-and-doppler-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .weather {
        flex-direction: column;
    }

    .current-image {
        padding-top: 50px;
        padding-bottom: 30px;
        width: 100%;

    }

    .time-and-temp {
        display: flex;
        flex-direction: row;
        font-family: 'Saira Extra Condensed', sans-serif;
        font-weight: 100;
        line-height: 1.3;
        text-align: center;
        width: 100%;
        padding-bottom: 2em;
    }

    .time {
        flex-direction: column;
        font-size: 3em;
        margin-top: 10px;
    }


    .vertical-line {
        color: black;
        font-size: 7em;
        font-weight: 100;
        padding-left: 20px;
        padding-right: 20px;
    }

    .temperature {
        font-size: 7em;
        margin-top: 4px;
    }

    /* hide this on mobile-view */
    .doppler {
        display: none;
    }

    .arrow-container {
        width: 100%;
        padding-bottom: 1.5em;
        padding-top: 1.5em;
    }

    .arrow-img {
        display: block;
        width: 10%;
        margin: auto;
    }

    hr {
        margin-top: 5%;
        margin-bottom: 5%;
        color: black;
        width: 99%;
    }

    @keyframes swipe {
        from {
            bottom: 0%;
        }

        to {
            bottom: 100%;
        }
    }

    @keyframes swipe-reverse {
        from {
            bottom: 100%;
        }

        to {
            bottom: 0%;
        }
    }

    @keyframes move-up {
        from {
            top: 100%;
        }

        to {
            top: 0%;
        }
    }

    @keyframes move-down {
        from {
            top: 0%;
        }

        to {
            top: 100%;
        }
    }
}

@media (min-width: 481px) and (max-width: 790px){

    header {
        text-align: center;
        font-size: 2.8em;
        color: white;
        padding-top: 1.5em;
        padding-bottom: 1.5%;
        width: 100%;
        line-height: 1.2;
    }

    h2 {
        text-align: center;
        font-size: 2.2em;
        font-weight: 700;
        color: #2D3091;
        padding-bottom: 4%;
        width: 100%;
        margin-right: 2%;
    }

    .top-half {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        font-family: 'IBM Plex Sans', sans-serif;
        color: white;
        background-image: linear-gradient(#4980dc, #623b9c);
    }

    /* gradient not used for mobile */
    /* on non-mobile views, use flex-direction: row */
    .bottom-half {
        display: flex;
        flex-direction: row;
        width: 100%;
        font-family: 'Saira Extra Condensed', sans-serif;
        background-image: linear-gradient(gray 0%, white 25%);
    }

    /*On non-mobile views, use flex-direction: column*/
    .bottom-item {
        display: flex;
        flex-direction: column;
        width: 20%;
        font-weight: 300;
        justify-content: center;
        margin-left: 4%;
    }

    .bottom-item-time {
        font-size: 4vw;
        margin-top: 50%;
    }

    .bottom-item-image {
        display: block;
        width: 75%;
        margin-top: 50%;
        margin-bottom: 50%;
    }

    .bottom-item-temperature {
        font-size: 10vw;
    }

    main {

    }

    /* For non-mobile views, set to be "display: none;" */
    .mobile-header-text {
        display: none;
    }

    .non-mobile-header-text {
        display: block;
    }

    /* For non-mobile views: change flex-direction to column, and use flex-wrap */
    .forecast {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    .forecast-web {
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
    }
    
    
    div.forecast-input-container {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    p.forecast-text {
        font-size: 1.5em;
        text-align: left;
        margin-left: 15%;
        padding-bottom: 22px;
    }

    .input-container {
        display: flex;
        flex-direction: row;
        width: 60%;
    }

    .input-field {
        text-align: center;
        font-size: x-large;
        width: 75%;
        margin-left: 3%;
        height: 1.38em;
        border: none;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 300;
        color: white;
        background-color: #2E3192;
    }

    .button-style {
        width: 25%;
        height: 1.8em;
        margin-left: 5%;
        text-align: center;
        font-size: larger;
        color: #E6E5E3;
        border: none;
        background-color: #7B92D5;
    }

    .weather-and-doppler-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .weather {
        flex-direction: column;
        width: 60%;
        margin-left: 10%;
    }

    .current-image {
        padding-top: 50px;
        padding-bottom: 30px;
        width: 30vw;

    }

    .time-and-temp {
        display: flex;
        flex-direction: row;
        font-family: 'Saira Extra Condensed', sans-serif;
        font-weight: 100;
        line-height: 1.3;
        text-align: center;
        width: 100%;
        padding-bottom: 2em;
    }

    .time {
        flex-direction: column;
        font-size: 3em;
        margin-top: 10px;
    }


    .vertical-line {
        color: black;
        font-size: 7em;
        font-weight: 100;
        padding-left: 20px;
        padding-right: 20px;
    }

    .temperature {
        font-size: 7em;
        margin-top: 4px;
    }

    /* hide this on mobile-view */
    .doppler {
        position: relative;
        display: flex;
        width: 60%;
        margin-right: 10%;
        margin-left: 5%;
        margin-bottom: 10%;
      

    }

    img.doppler {
        position: absolute;
        width: 100%;
        clip-path: circle(40%);
        border-radius: 50%;
        margin-top: 20%;
        bottom: 0;
        right: 0;
    }

    .doppler-gif {
      position: absolute;
      width: 100%;
      clip-path: circle(40%);
      bottom: 0;
      right: 0;
  }

    .arrow-container {
        width: 0%;
        padding-bottom: 1.5em;
        padding-top: 1.5em;
    }

    .arrow-img {
        display: none;
        width: 0%;
        margin: auto;
    }

    hr {
        border: none;
        border-left: 1px solid darkslategrey;
        height: 50vh;
        width: 1px;
    }
}

@media (min-width: 791px) {

    header {
        text-align: left;
        font-size: 4.5em;
        color: white;
        padding-top: 1.5em;
        padding-bottom: 1.5%;
        width: 100%;
        margin-left: 7%;
        line-height: 1.2;
    }

    h2 {
        text-align: left;
        font-size: 3.1em;
        font-weight: 700;
        color: #2D3091;
        padding-bottom: 3%;
        width: 100%;
        margin-left: 7%;
        margin-right: 2%;
    }

    .top-half {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        font-family: 'IBM Plex Sans', sans-serif;
        color: white;
        background-image: linear-gradient(#4980dc, #623b9c);
    }

    /* gradient not used for mobile */
    /* on non-mobile views, use flex-direction: row */
    .bottom-half {
        display: flex;
        flex-direction: row;
        width: 100%;
        font-family: 'Saira Extra Condensed', sans-serif;
        background-image: linear-gradient(gray 0%, white 25%);
    }

    /*On non-mobile views, use flex-direction: column*/
    .bottom-item {
        display: flex;
        flex-direction: column;
        width: 20%;
        font-weight: 300;
        justify-content: center;
        margin-left: 6%;
    }

    .bottom-item-time {
        font-size: 2.5vw;
        margin-top: 50%;
    }

    .bottom-item-image {
        display: block;
        width: 50%;
        margin-top: 5em;
        margin-bottom: 5em;
    }

    .bottom-item-temperature {
        font-size: 5vw;
    }

    main {

    }

    /* For non-mobile views, set to be "display: none;" */
    .mobile-header-text {
        display: none;
    }

    .non-mobile-header-text {
        display: block;
    }

    /* For non-mobile views: change flex-direction to column, and use flex-wrap */
    .forecast {
        display: none;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    .forecast-web {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
    }
    
    .forecast-web-box {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    div.forecast-input-container {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    p.forecast-text {
        font-size: 2em;
        text-align: left;
        margin-left: 7%;
        padding-bottom: 22px;
    }

    .input-container {
        display: flex;
        flex-direction: row;
        width: 50%;
    }

    .input-field {
        text-align: center;
        font-size: x-large;
        width: 15em;
        margin-left: 3%;
        height: 1.38em;
        border: none;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 300;
        color: white;
        background-color: #2E3192;
    }

    .button-style {
        width: 6em;
        height: 1.8em;
        margin-left: 5%;
        text-align: center;
        font-size: larger;
        color: #E6E5E3;
        border: none;
        background-color: #7B92D5;
    }

    .weather-and-doppler-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .weather {
        display: flex;
        flex-direction: row;
        width: 60%;
        margin-left: 10%;
        padding-top: 5em;
    }

    .current-image {
        width: 12em;
        padding-left: 5em;
        padding-right: 5em;

    }

    .time-and-temp {
        display: flex;
        flex-direction: row;
        font-family: 'Saira Extra Condensed', sans-serif;
        font-weight: 100;
        line-height: 1.3;
        text-align: center;
        width: 100%;
        padding-bottom: 2em;
    }

    .time {
        flex-direction: column;
        font-size: 3em;
        margin-top: 10px;
    }


    .vertical-line {
        color: black;
        font-size: 7em;
        font-weight: 100;
        padding-left: 20px;
        padding-right: 20px;
    }

    .temperature {
        font-size: 7em;
        margin-top: 4px;
    }

    /* hide this on mobile-view */
    .doppler {
        position: relative;
        display: flex;
        width: 60em;
        margin-top: 3em;
        margin-bottom: 5em;
        margin-left: 35em;

    }

    img.doppler {
        position: absolute;
        width: 50%;
        filter: grayscale(100%);
        clip-path: circle(40%);
        margin-top: 20%;
        bottom: 0;
        right: 0;
    }

    .doppler-gif {
        position: absolute;
        width: 50%;
        clip-path: circle(40%);
        bottom: 0;
        right: 0;
    }
    .arrow-container {
        width: 0%;
        padding-bottom: 1em;
        padding-top: 1em;
    }

    .arrow-img {
        display: none;
        width: 0%;
        margin: auto;
    }

    hr {
        border: none;
        border-left: 1px solid darkslategrey;
        height: 45vh;
        width: 1px;
        margin-top: 5em;
    }
}